<div class="content">
  <mat-card>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input type="text" autofocus placeholder="Search" aria-label="Number" 
        matInput [formControl]="myControl" (keyup.enter)="getResults()"><!-- [matAutocomplete]="auto" -->
        <!--<mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>-->
      </mat-form-field>
    </form>
  </mat-card>
</div>

<app-search-view></app-search-view>


<!--

<mat-card class="example-card">
      <img mat-card-image src="{{ video.videoThumbnailUrl }}" alt="{{ video.videoTitle }}" height="90px" width="120px">
      <mat-card-content>
        <p>
          {{ video.videoTitle }}
        </p>
      </mat-card-content>
      <mat-card-header>
        <mat-card-subtitle>{{ video.videoChannelName }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>


-->